*.sage.py
bin/*.o
bin/omf5
bin/omf5_dbg
bin/omf5_dbg_full
bin/omf5_nbr_data
bin/omf5_nbr_data_dbg
bin/omf5_nbr_data_dbg_full
.DS_Store
*.lo
*.la
*.o
aclocal.m4
config.log
config.status
libtool
autom4te.cache/*
cnf/*
m4/*
src/.deps/*
src/.libs/*
src/A61
src/A61_dbg
*.c#
*.c~
*.h~
*.ac~
configure~
configure
src/A61_dbg_full
src/omf5
src/omf5_dbg
src/omf5_dbg_full
src/omf5_nbr_data
src/omf5_nbr_data_dbg
src/omf5_nbr_data_dbg_full
*.Plo
*.log
omf5
